:root{
    font-size: 100%;
    font-size: 16px;
    line-height: 1.5;
}

body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-weight: 500;
}

h1{
    font-size: 2.25rem;
    font-weight: 700;
}

h2{
    font-size: 1.5rem;
    font-weight: 700;
}

a{
    text-decoration: none;
    color:#233975;
}
a:hover {
    text-decoration: underline;
}

.main {
    display: flex;
    flex-direction: column;
}

.left{
    height: 200px;
}

.left, .right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    background: url('images/cover.jpg');
    background-size: cover;
}

.left .sub{
    color: white;
    text-align: center;
}

.left p{
    font-weight:400;
}

.right .sub{
    color:black;
    text-align: center;
}

.right .sub p{
    margin: 1.5em 0;
    font-size: 0.875rem;
}
.right form {
    width:328px;
}

form input[type='text'],
form input[type='email'],
form input[type='password'] {
    display:block;
    width:100%;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #c4c4c4;
    padding: 1em;
    margin-bottom: 1.25rem;
    font-size: 0.875rem;
}

label{
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
}
.input_password {
    position: relative;
}

.Button {
    display:block;
    width: 100%;
    background: #233975;
    color: white;
    font-weight: 700;
    border: none;
    padding:1rem;
    border-radius: 8px;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.Button:hover {
    background: #2c4893;
    cursor:pointer;
}

@media screen and (min-width: 900px) {
    .main {
        flex-direction: row;
        height: 100vh;
    }
    .left,
    .right {
        display: flex;
        width: 50%;
        height: auto;
    }
}